@font-face {
    font-family:'TheNeueBlack';
    src: url('fonts/TheNeue-Black.woff') format('woff'),
         url('fonts/TheNeue-Black.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


/* Fixes the initial browser’s style */
* {
    margin: 0;
    padding: 0;
}

div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    font-family: 'TheNeueBlack', sans-serif;
    font-size: 19px;
    background-color: black;
    cursor: url(images/cursor-brown.svg), auto;
    min-height: 100vh;
    color: white;
}
a, a:link, a:visited, a:hover {
    color: white;
    text-decoration: none;
    border-bottom: 2px solid white;
    cursor: url(images/illu-important.png) 70 80, pointer;
}

h1, h2, h3 {
    font-weight: normal;
    font-size: 24px;
    margin-bottom: 30px;
}
li {
    list-style: none;
}
img {
    width: 100%;
}

.slider {
    width:100%;
    overflow: hidden;
    position: absolute;
    margin:0;
    bottom: 0;
}
.slider ul {
    overflow: hidden;
    width: 1000%;
    margin: 0;
}
.slider ul li {
    list-style: none;
    margin: 0 0 10px 30px;
    display: inline-block;
    padding: 0 30px;
    font-size: 120px;
    letter-spacing: 4px;
    color: transparent;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: white;
    text-stroke-width: 3px;
    text-stroke-color: white;
}

.title {
    font-size: 100px;
    position: fixed;
    width: 100%;
    left: 0;
    top: 10px;
    text-align: center;
}
.info {
    display: none;
    position: fixed;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    padding: 20px;
    background-color: black;
    overflow-y: scroll;
}
.info p {
    font-size: 30px;
    line-height: 42px;
    padding-bottom: 20px;
    max-width: 900px;
}
.close {
    position: fixed;
    top: 20px;
    right: 20px;
}

figure {
    position: absolute;
    width: 10%
}
figcaption {
    display: none;
    font-size: 60px;
}
.big-caption {
    font-size: 60px;
    position: absolute;
    color: white;
    bottom: 20px;
    left: 20px;
}
.big-caption a {
    color: white;
    border-bottom: 2px solid white;
}
.big {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0!important;
    left: 0!important;
    background-color: black;
    cursor: url(images/illu-box.png), auto;
}
.higher {
    z-index: 1000;
}
body.hidefigures figure:not(.big) {
    display: none;
}
.big-purple {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: purple;
    cursor: url(images/cross.svg), auto;
}
.big img {
    width: auto;
    max-width: 100%;
    max-height: 80vh;
}

/* RESPONSIVE */

/* ÉCRAN SEULEMENT */
@media screen {
    .print-only {
        display: none;
    }
}

/* ÉCRAN (VALEURS MAXIMUM) */
@media screen and (max-width: 1400px) {
    .big-caption {
        font-size: 40px;
    }
}

@media screen and (max-width: 480px) {
    .big-caption {
        font-size: 20px;
    }
    .close {
        position: fixed;
        top: 5px;
        right: 5px;
    }
    .title, .slider ul li {
        font-size: 50px;
    }
    .slider ul li {
        -webkit-text-stroke-width: 2px;
        text-stroke-width: 2px;
    }
}

/* IMPRESSION */

@media print {
    .screen-only {
        display: none;
    }
}

@page {
    size: 210mm 297mm;
    margin: none;
}
